[package]
name = "rdkafka-sys"
version = "0.9.2-0"
authors = ["Federico Giraud <giraud.federico@gmail.com>"]
build = "build.rs"
links = "rdkafka"
repository = "https://github.com/fede1024/rust-rdkafka"
license = "MIT"
description = "Native bindings to the librdkafka library"
keywords = ["kafka", "rdkafka"]

[dependencies]
lz4-sys = { git = "https://github.com/thijsc/lz4-rs.git" }
libz-sys = ">= 1.0.7"
openssl-sys = "> 0.7.0"

[build-dependencies]
num_cpus = "~ 0.2.0"

[lib]
name = "rdkafka_sys"
path = "src/lib.rs"

[features]
default = []

ssl = []
sasl = ["ssl"]
